<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGENCY</title>
    <link rel="stylesheet" href="/FONTS/fonts.css" />
    <link rel="stylesheet" href="/BOOTSTRAP/bootstrap.min.css" />
    <link rel="stylesheet" href="/WOWJS/animate.css" />
    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/agency.css">
    <link rel="stylesheet" href="/css/lp.css">
    <link rel="stylesheet" href="/css/travel.css">
    <link rel="stylesheet" href="/css/service.css">
    <link rel="stylesheet" href="/css/restaurant.css">

</head>

<body>
    <section class="agency-hire wow slideInLeft" id="agency-hire">
        <header class="current-header m-0 p-0">
            <div class="container">
                <nav class="navbar navbar-expand-lg navigation-warp">
                    <div class="logo-detail d-flex align-items-center">
                        <a class="navbar-brand" href="javascript:void(0)"><img src="/image/agency_footer_img.svg"
                                alt="logo" /></a>
                        <span class="logo-name">Treact</span>
                    </div>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav  d-flex align-items-center mx-auto">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/travel">Travel</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="restaurant">Restaurant</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/agency">Agency</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/services">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">Contact</a>
                            </li>
                        </ul>
                        <div class="navbar-nav ">
                            <button class="main-btn">Hire Us</button>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <div class="container">
            <div class="row hire-row">
                <div class="col-lg-6 p-0">
                    <div class="hire-wrapper">
                        <p><span class="pipe"></span>We have now launched operations in Europe.</p>
                        <h1>Hire the best <span>Marketing Team.</span></h1>
                        <button class="hire-btn">Read Customer Stories
                        </button>
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <img style="border-radius: 5px;" src="/image/bannerbg.png" alt="agency-video" />
                </div>
            </div>
        </div>

    </section>
    <section class="container wow slideInRight secspace agency_ourtrackrecord">
        <div class="row">
            <div class="col-6"><img src="/image/AGENCY1.png" alt="graphs" /></div>
            <div class="col-6">
                <div class="sidecommonhead1">OUR TRACK RECORD</div>
                <div class="sidecommonhead2">We have been doing this since <span
                        class="sidecommonhead2span">1999.</span></div>
                <div class="sidecommonp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div class="row">
                    <ul class="col-3 agency_ul">
                        <li class="agency_li">
                            <div class="agency_li_p1">2282+</div>
                            <div class="agency_li_p2">Clients</div>
                        </li>
                    </ul>
                    <ul class="col-3 agency_ul">
                        <li class="agency_li">
                            <div class="agency_li_p1">3891+</div>
                            <div class="agency_li_p2">Projects</div>
                        </li>
                    </ul>
                    <ul class="col-3 agency_ul>
                        <li class=" agency_li">
                        <div class="agency_li_p1">1000+</div>
                        <div class="agency_li_p2">Awards</div>
                        </li>
                    </ul>
                </div>
                <div class="btn travel_banner_btn travel_banner_subbtn1 agency_track_btn">Learn More</div>
            </div>
        </div>
        </div>
    </section>
    <section class="container wow slideInLeft secspace agency_ops">
        <div class="commonhead2">Our Professional <span class="commonhead2span">Services</span></div>
        <div class="agency_6cards">
            <div class="row d-flex justify-content-evenly my-5">
                <div class="col-3 card">
                    <div class="lp_feature_idiv d-flex justify-content-center">
                        <div class="lp_feature_iout mt-4"><i class="lp_feature_i fa-solid fa-shield-halved"></i></div>
                    </div>
                    <div class="lp_feature_data">
                        <h2 class="agency_6card_h2 my-3">Ads Management</h2>
                        <p class="lp_featurecardp">We create and manage ads that you need, from creation to deployment.
                            Lorem ipsum donor sit amet consicou.</p>
                    </div>
                </div>

                <div class="col-3 card">
                    <div class="lp_feature_idiv d-flex justify-content-center">
                        <div class="lp_feature_iout mt-4"><i class="lp_feature_i fa-solid fa-headset"></i></div>
                    </div>
                    <div class="lp_feature_data">
                        <h2 class="agency_6card_h2 my-3">Video Marketing</h2>
                        <p class="lp_featurecardp">Lorem ipsum donor amet siti ceali ut enim ad minim veniam, quis
                            nostrud. Sic Semper Tyrannis. Neoas Calie artel.</p>
                    </div>
                </div>
                <div class="col-3 card">
                    <div class="lp_feature_idiv d-flex justify-content-center">
                        <div class="lp_feature_iout mt-4"><i class="lp_feature_i fa-solid fa-sliders"></i></div>
                    </div>
                    <div class="lp_feature_data">
                        <h2 class="agency_6card_h2 my-3">Customer Relation</h2>
                        <p class="lp_featurecardp">Lorem ipsum donor amet siti ceali ut enim ad minim veniam, quis
                            nostrud. Sic Semper Tyrannis. Neoas Calie artel.</p>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-evenly my-5">
                <div class="col-3 card">
                    <div class="lp_feature_idiv d-flex justify-content-center">
                        <div class="lp_feature_iout mt-4"><i class="lp_feature_i fa-solid fa-paper-plane"></i></div>
                    </div>
                    <div class="lp_feature_data">
                        <h2 class="agency_6card_h2 my-3">Product Outreach</h2>
                        <p class="lp_featurecardp">Lorem ipsum donor amet siti ceali ut enim ad minim veniam, quis
                            nostrud.</p>
                    </div>
                </div>
                <div class="col-3 card">
                    <div class="lp_feature_idiv d-flex justify-content-center">
                        <div class="lp_feature_iout mt-4"><i class="lp_feature_i fa-solid fa-bolt"></i></div>
                    </div>
                    <div class="lp_feature_data">
                        <h2 class="agency_6card_h2 my-3">PR Campaign</h2>
                        <p class="lp_featurecardp">Lorem ipsum donor amet siti ceali ut enim ad minim veniam, quis
                            nostrud. Sic Semper Tyrannis. Neoas Calie artel.</p>
                    </div>
                </div>
                <div class="col-3 card">
                    <div class="lp_feature_idiv d-flex justify-content-center">
                        <div class="lp_feature_iout mt-4"><i class="lp_feature_i fa-brands fa-creative-commons-by"></i>
                        </div>
                    </div>
                    <div class="lp_feature_data">
                        <h2 class="agency_6card_h2 my-3">Product Expansion</h2>
                        <p class="lp_featurecardp">Lorem ipsum donor amet siti ceali ut enim ad minim veniam, quis
                            nostrud. Sic Semper Tyrannis. Neoas Calie artel.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container wow slideInRight secspace agency_expertise">
        <div class="row">
            <div class="col-7">
                <div class="sidecommonhead1">Our Expertise</div>
                <div class="sidecommonhead2">We have the most <span class="sidecommonhead2span">professional</span>
                    marketing team.</div>
                <div class="sidecommonp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <ul class="agency_ops_ul ">
                    <li>
                        <div class="agency_ops_li my-3">
                            <div class="row d-dlex">
                                <div class="col-1">
                                    <div class="agency_expertise_iout"><i class="agency_ibag fa-solid fa-suitcase"></i>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <h5 class="agency_exp_h2">Professionalism</h5>
                                    <p class="agency_exp_p">We have the best professional marketing people across the
                                        globe just to work with you.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="agency_ops_li my-3">
                            <div class="row d-flex">
                                <div class="col-1">
                                    <div class="agency_expertise_iout"><i
                                            class="agency_ibag fa-solid fa-dollar-sign"></i></div>
                                </div>
                                <div class="col-8">
                                    <h5 class="agency_exp_h2">Affordable</h5>
                                    <p class="agency_exp_p">We promise to offer you the best rate we can - at par with
                                        the industry standard.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="btn travel_banner_btn travel_banner_subbtn1 agency_track_btn agency_exp_btn">See Our
                    Portfolio</div>
            </div>
            <div class="col-5 d-flex justify-content-center"><img src="/image/about_exp.svg" alt="8people" /></div>
        </div>
    </section>
    <section class="container wow slideInLeft secspace agency_portfolio">
        <div class="row">
            <div class="col-7 d-flex">
                <div class="col-6">
                    <div class="card travel_trendingtourcard border-0 mx-3">
                        <div class="travel_trendingtourcard_sec1"><img src="/image/agency_portfolio.jpg" alt="beach1" />
                        </div>
                        <div class="travel_trendingtourcard_sec2 d-flex justify-content-between">
                            <p class="travel_tredingtour_anchorp">Tesla Inc.</p>
                            <p class="travel_hotel_sec3p"><span class="travel_trendingtourcard_sec2span">Ad
                                    Campaign</span></p>
                        </div>
                        <div class="travel_trendingtourcard_sec3">
                            <h5 class="travel_tradingtour_h5">A Trip to the Bahamas and the Carribean Ocean</h5>
                        </div>
                        <div class="travel_trendingtourcard_sec4 d-flex justify-content-evenly"><i
                                class="fa-regular fa-clock"></i>
                            <p class="travel_trendingtourcard_sec2span">90 DAYS CAMPAIGN</p><i
                                class="fa-solid fa-location-dot"></i>
                            <p class="travel_trendingtourcard_sec2span">NEW YORK</p>
                        </div>
                        <div class="travel_hoelgallery_card1_sec5">
                            <div class="row">
                                <div class="btn">Read Case</div>
                            </div>
                        </div>
                        <div class="travel_trendingtourcard_sec5"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card travel_trendingtourcard border-0 mx-3">
                        <div class="travel_trendingtourcard_sec1"><img src="/image/agency_portfolio2.jpg"
                                alt="beach2" /></div>
                        <div class="travel_trendingtourcard_sec2 d-flex justify-content-between">
                            <p class="travel_tredingtour_anchorp">Nestle</p>
                            <p class="travel_hotel_sec3p"><span class="travel_trendingtourcard_sec2span">SEO
                                    Marketing</span></p>
                        </div>
                        <div class="travel_trendingtourcard_sec3">
                            <h5 class="travel_tradingtour_h5">Cruise to the Mariana Trench and the Phillipines</h5>
                        </div>
                        <div class="travel_trendingtourcard_sec4 d-flex justify-content-evenly"><i
                                class="fa-regular fa-clock"></i>
                            <p class="travel_trendingtourcard_sec2span">180 DAY CAMPAIGN </p><i
                                class="fa-solid fa-location-dot"></i>
                            <p class="travel_trendingtourcard_sec2span">PALO ALTO</p>
                        </div>
                        <div class="travel_hoelgallery_card1_sec5">
                            <div class="row">
                                <div class="btn">Read Case</div>
                            </div>
                        </div>
                        <div class="travel_trendingtourcard_sec5"></div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="sidecommonhead1">Our Portfolio</div>
                <div class="sidecommonhead2">We've done some <span class="sidecommonhead2span">amazing projects.</span>
                </div>
                <div class="sidecommonp mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam.</div>
                <div class="travel_tredingtour_anchor my-4"><a href="javascript:void(0)">
                        <p class="travel_tredingtour_anchorp">View all Projects</p><i
                            class="mx-2 fa-solid fa-arrow-right-long"></i>
                    </a></div>
            </div>
        </div>
    </section>
    <section class="container wow slideInRight secspace agency_testimonial">
        <div class="row">
            <div class="col-7">
                <div class="sidecommonhead1">Testimonials</div>
                <div class="sidecommonhead2">Our Clients <span class="sidecommonhead2span">Love Us.</span></div>
                <div class="sidecommonp">Here are what some of our amazing customers are saying about our marketing
                    professionals. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</div>
                <div class="sidecommonquote my-5">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                    officia</div>
            </div>
            <div class="col-5"><img src="/image/agency_testimonial_slide1.jpg" alt="3person" /></div>
        </div>
    </section>
    <section class="container wow slideInLeft secspace agency_faq">
        <div class="row">
            <div class="col-5"><img src="/image/agency_faq.png" alt="agencyperson" /></div>
            <div class="col-7">
                <p class="sidecommonhead1">FAQs</p>
                <p class="sidecommonhead2">Do you have <span class="sidecommonhead2span"> Questions?</span> </p>
                <p class="sidecommonp">Here are some frequently asked questions about our hotels from our loving
                    customers. Should you have any other questions, feel free to reach out via the contact form below.
                </p>
                <div class="accordion agency_accordion m-0" id="agency_accordion">
                    <div class="accordion-item agency_accordionitem ">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button  agency_accordion_button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                                <p class="agency_accordion_p">Is lunch provided free of cost ?</p>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#agency_accordion">
                            <div class="accordion-body">
                                <p class="agency_accordion_p2">Yes, it is, if you have a membership with us. Otherwise
                                    it is charged as per the menu. Some limits do apply as to how much items can be
                                    included in your lunch. This limit is enough for any one person and merely exists to
                                    discourage abusal of the system.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item agency_accordionitem">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button agency_accordion_button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                <p class="agency_accordion_p">Do you have 2 Bedroom suites ?</p>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#agency_accordion">
                            <div class="accordion-body">
                                <p class="agency_accordion_p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item agency_accordionitem">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button agency_accordion_button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                <p class="agency_accordion_p">Are Wi-Fi costs included in the price ?</p>
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#agency_accordion">
                            <div class="accordion-body">
                                <p class="agency_accordion_p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item agency_accordionitem">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button agency_accordion_button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true"
                                aria-controls="collapseOne">
                                <p class="agency_accordion_p">Where can I reach you for support ?</p>
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#agency_accordion">
                            <div class="accordion-body">
                                <p class="agency_accordion_p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container wow slideInRight secspace agency_blog">
        <p class="commonhead1">Blog</p>
        <p class="commonhead2">We Love <span class="commonhead2span">Writing.</span></p>
        <div class="d-flex justify-content-center">
            <p class="agency_blog_p">Some amazing blog posts that are written by even more amazing people.</p>
        </div>
        <div class="container row d-flex justify-content-evenly">
            <div class="col-4">
                <div class="card agency_card">
                    <div class="agency_blog_sec1"><img src="/image/agency_blog_1.jpg" alt="agencyblog1" /></div>
                    <div class="agency_blog_card_wrapper">
                        <div class="agency_blog_sec2 d-flex m-3"><i class="ms-3 me-3 fa-regular fa-user"></i>
                            <p class="travel_trendingtourcard_sec2span">Adam Wathan</p><i
                                class="ms-3 me-3 fa-solid fa-tag"></i>
                            <p class="travel_trendingtourcard_sec2span">SEO</p>
                        </div>
                        <div class="agency_blog_sec3">
                            <h5 class="agency_tradingtour_h5 p-3">Optimizing your website for your main keyword</h5>
                        </div>
                        <div class="agency_blog_sec4">
                            <p class="agency_blog_sec4_p p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="agency_blog_sec5 p-3">
                            <div class="agency_blog_btn btn btn-info">Read Post</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card agency_card">
                    <div class="agency_blog_sec1"><img src="/image/agency_blog2.jpg" alt="agencyblog1" /></div>
                    <div class="agency_blog_card_wrapper">
                        <div class="agency_blog_sec2 d-flex m-3"><i class="ms-3 me-3 fa-regular fa-user"></i>
                            <p class="travel_trendingtourcard_sec2span">Owais Khan</p><i
                                class="ms-3 me-3 fa-solid fa-tag"></i>
                            <p class="travel_trendingtourcard_sec2span">Advertising</p>
                        </div>
                        <div class="agency_blog_sec3">
                            <h5 class="agency_tradingtour_h5 p-3">Optimizing your website for your main keyword</h5>
                        </div>
                        <div class="agency_blog_sec4">
                            <p class="agency_blog_sec4_p p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="agency_blog_sec5 p-3">
                            <div class="agency_blog_btn btn btn-info">Read Post</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card agency_card">
                    <div class="agency_blog_sec1"><img src="/image/agency_blog3.jpg" alt="agencyblog1" /></div>
                    <div class="agency_blog_card_wrapper">
                        <div class="agency_blog_sec2 d-flex m-3"><i class="ms-3 me-3 fa-regular fa-user"></i>
                            <p class="travel_trendingtourcard_sec2span">Steve Schoger</p><i
                                class="ms-3 me-3 fa-solid fa-tag"></i>
                            <p class="travel_trendingtourcard_sec2span">Social Media</p>
                        </div>
                        <div class="agency_blog_sec3">
                            <h5 class="agency_tradingtour_h5 p-3">Optimizing your website for your main keyword</h5>
                        </div>
                        <div class="agency_blog_sec4">
                            <p class="agency_blog_sec4_p p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="agency_blog_sec5 p-3">
                            <div class="agency_blog_btn btn btn-info">Read Post</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container wow slideInLeft secspace agency_contactus">
        <div class="row">
            <div class="col-7">
                <div class="sidecommonhead1">Contact Us</div>
                <div class="sidecommonhead2">Feel free to <span class="sidecommonhead2span">get in touch</span> with us.
                </div>
                <div class="sidecommonp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div class="row mt-5">
                    <form>
                        <input class="agency_contactus_input me-3" type="text" placeholder="Your email Address" />
                        <div class="btn agency_contact_btn btn-info">Contact Me</div>
                    </form>
                </div>
            </div>
            <div class="col-5"><img src="/image/agency_contact.png" alt="agency_contact" /></div>
        </div>
    </section>
    <footer class="agency_footer wow slideInRight">

        <div class="agency_footer_main p-5">
            <div class="agency_footer_line1 d-flex justify-content-center mt-5">
                <div class="footer_img_out me-2 d-flex justify-content-center"><img src="/image/agency_footer_img.svg"
                        alt="footer_logo_image" /></div>
                <p class="footer_img_p agency_footer_imgp">Treact</p>
            </div>

            <div class="d-flex justify-content-center agency_footer_uldiv mt-3">
                <ul class="agency_footer_ul">
                    <li class="agency_footer_li me-4">Home</li>
                    <li class="agency_footer_li me-4">About</li>
                    <li class="agency_footer_li me-4">Contact Us</li>
                    <li class="agency_footer_li me-4">Blog</li>
                    <li class="agency_footer_li me-4">Reviews</li>
                </ul>
            </div>
            <div class="d-flex justify-content-center col-12 agency_footer_icon mt-3">
                <div class="agency_footer_i_out mx-4"><i class="fa-brands fa-facebook-f"></i></div>
                <div class="agency_footer_i_out mx-4"><i class="fa-brands fa-twitter"></i></div>
                <div class="agency_footer_i_out mx-4"><i class="fa-brands fa-youtube"></i></div>
            </div>
        </div>

        <div class="agency_footer_copyright d-flex justify-content-center mt-1">
            <p> &copy; Copyright 2020, Treact Inc. All Rights Reserved.</p>
        </div>
        </div>

    </footer>
    <script src="/BOOTSTRAP/bootstrap.bundle.min.js"></script>
    <script src="/WOWJS/wow.min.js"></script>
    <script src="/js/swiper-bundle.min.js"></script>
    <script>
        new WOW().init();
    </script>
</body>

</html>