<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRAVEL</title>
    <link rel="stylesheet" href="/FONTS/fonts.css" />
    <link rel="stylesheet" href="/BOOTSTRAP/bootstrap.min.css" />
    <link rel="stylesheet" href="/WOWJS/animate.css" />
    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/agency.css">
    <link rel="stylesheet" href="/css/lp.css">
    <link rel="stylesheet" href="/css/travel.css">
    <link rel="stylesheet" href="/css/service.css">
    <link rel="stylesheet" href="/css/restaurant.css">

</head>

<body>
    <section class="wow slideInLeft container-fluid travel_headbanner">
        <div class="row">
            <div class="col-6">
                <header class="home_header container">
                    <div class="row">
                        <div class="home_header_main d-flex justify-content-between">
                            <div class="col-2 home_header_logo d-flex"><a href="home"><img src="/image/home_header.svg"
                                        alt="headerlogo" />
                                    <p class="home_headerp">Treact</p>
                                </a>
                            </div>
                            <ul class="col-10 home_header_ul">
                                <li class="home_header_li"><a href="/">Home</a></li>
                                <li class="home_header_li"><a href="/travel">Travel</a></li>
                                <li class="home_header_li"><a href="/restaurant">Restaurant</a></li>
                                <li class="home_header_li"><a href="/agency">Agency</a></li>
                                <li class="home_header_li"><a href="/services">Services</a></li>
                                <li class="home_header_li"><a href="/contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </header>
                <div class="ms-5 sidecommonhead2">Find Perfect Hotels</div>
                <div class="ms-5 commonhead2" style="text-align: left;"><span class="sidecommonhead2span">anywhere you
                        go.</span></div>
                <div class="ms-5 travel_sidecommonp">We've been in the hotels business across the world for 5 years now.
                    We assure you that you will always enjoy your stay with us.</div>
                <a href="/travel">
                    <div class="ms-5 btn travel_banner_btn travel_banner_subbtn1">Sign Up</div>
                </a>
                <a href="/travel">
                    <div class="btn mx-3 travel_banner_btn travel_banner_subbtn2">Search Hotels</div>
                </a>
            </div>
            <div class="col-6 travel_headimg p-0"><img
                    src="/image/best-design-hotels-in-Cam-ranh-bay-vietnam-MAIN-IMAGE.png" alt="travelheadimage" />
            </div>
        </div>
    </section>
    <section class="wow slideInRight container secspace travel_3card">
        <div class="row d-flex justify-content-center my-5">
            <div class="col-3 card border-0">
                <div class="lp_feature_idiv d-flex justify-content-around">
                    <div class="lp_feature_iout travel_feature_iout"><i
                            class="lp_feature_i fa-solid fa-shield-halved"></i></div>
                </div>
                <div class="lp_feature_data">
                    <h2 class="lp_6card_h2 my-3">Secure</h2>
                    <p class="lp_featurecardp">We strictly only deal with vendors that provide top notch security.</p>
                    <a href="javascript:void(0)">
                        <p class="travel_anchorp">Learn more <i class="fa-solid fa-arrow-right-long"></i></p>
                    </a>
                </div>
            </div>

            <div class="col-3 card border-0">
                <div class="lp_feature_idiv d-flex justify-content-around">
                    <div class="lp_feature_iout travel_feature_iout"><i class="lp_feature_i fa-solid fa-headset"></i>
                    </div>
                </div>
                <div class="lp_feature_data">
                    <h2 class="lp_6card_h2 my-3">24/7 Support</h2>
                    <p class="lp_featurecardp">Lorem ipsum donor amet siti ceali placeholder text</p>
                    <a href="javascript:void(0)">
                        <p class="travel_anchorp">Learn more <i class="fa-solid fa-arrow-right-long"></i></p>
                    </a>
                </div>
            </div>
            <div class="col-3 card border-0">
                <div class="lp_feature_idiv d-flex justify-content-around">
                    <div class="lp_feature_iout travel_feature_iout"><i class="lp_feature_i fa-solid fa-sliders"></i>
                    </div>
                </div>
                <div class="lp_feature_data">
                    <h2 class="lp_6card_h2 my-3">Customizable</h2>
                    <p class="lp_featurecardp">Lorem ipsum donor amet siti ceali placeholder text</p>
                    <a href="javascript:void(0)">
                        <p class="travel_anchorp">Learn more <i class="fa-solid fa-arrow-right-long"></i></p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="wow slideInLeft container secspace travel_hotelgallery">
        <div class="sidecommonhead2">Popular Hotels</div>
        <div class="swiper mySwiper">
            <div class="travel_slider_btn">
                <div class="swiper-button-next"></div>
            </div>
            <div class="travel_slider_btn">
                <div class="swiper-button-prev"></div>
            </div>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card travel_hoelgallery_card">
                        <div class="travel_hoelgallery_card1_sec1"><img class="travel_hotelgallery_img_objfit"
                                src="/image/hotel_residency.jpg" alt="hotelresidency" /></div>
                        <div class="travel_hoelgallery_card1_sec2 mt-4 mb-2 d-flex justify-content-around">
                            <h2 class="travel_hotel_head1">Wyatt residency</h2>
                            <div class="travel_hotel_card_head_right"><img class="svg_star"
                                    src="../EXTRAS/start/25533.jpg" alt="star" />
                                <h2 class="travel_hotel_head2">4.8</h2>
                            </div>
                        </div>
                        <div class="travel_hoelgallery_card1_sec3">
                            <div class="row">
                                <div class="col-6 d-flex">
                                    <div class="travel_hotel_iouter mx-3"><i class="fa-solid fa-location-dot"></i></div>
                                    <p class="travel_hotel_sec3p">Rome, Italy</p>
                                </div>
                                <div class="col-6 d-flex">
                                    <div class="travel_hotel_iouter mx-3"><i class="fa-solid fa-dollar-sign"></i></div>
                                    <p class="travel_hotel_sec3p">USD 39/Day</p>
                                </div>
                            </div>
                        </div>
                        <div class="travel_hoelgallery_card1_sec4">
                            <p class="mb-3 travel_hotel_sec4p pt-0 pb-0">Lorem ipsum dolor sit amet, consectur dolori
                                adipiscing elit, sed do eiusmod tempor nova incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                        <div class="travel_hoelgallery_card1_sec5">
                            <div class="row">
                                <div class="btn">BOOK NOW</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card travel_hoelgallery_card">
                        <div class="travel_hoelgallery_card1_sec1"><img class="travel_hotelgallery_img_objfit"
                                src="/image/hotel_paradise.jpg" alt="paradise" /></div>
                        <div class="travel_hoelgallery_card1_sec2 mt-4 mb-2 d-flex justify-content-around">
                            <h2 class="travel_hotel_head1">Soho Paradise</h2>
                            <div class="travel_hotel_card_head_right"><img class="svg_star"
                                    src="../EXTRAS/start/25533.jpg" alt="star" />
                                <h2 class="travel_hotel_head2">4.9</h2>
                            </div>
                        </div>
                        <div class="travel_hoelgallery_card2_sec3">
                            <div class="row">
                                <div class="col-6 d-flex">
                                    <div class="travel_hotel_iouter mx-3"><i class="fa-solid fa-location-dot"></i></div>
                                    <p class="travel_hotel_sec3p">Ibiza, Spain</p>
                                </div>
                                <div class="col-6 d-flex">
                                    <div class="travel_hotel_iouter mx-3"><i class="fa-solid fa-dollar-sign"></i></div>
                                    <p class="travel_hotel_sec3p">USD 50/Day</p>
                                </div>
                            </div>
                        </div>
                        <div class="travel_hoelgallery_card1_sec4">
                            <p class="mb-3 travel_hotel_sec4p pt-0 pb-0">Lorem ipsum dolor sit amet, consectur dolori
                                adipiscing elit, sed do eiusmod tempor nova incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                        <div class="travel_hoelgallery_card1_sec5">
                            <div class="row">
                                <div class="btn">BOOK NOW</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card travel_hoelgallery_card">
                        <div class="travel_hoelgallery_card1_sec1"><img class="travel_hotelgallery_img_objfit"
                                src="/image/hotel_baja.jpg" alt="baja" /></div>
                        <div class="travel_hoelgallery_card1_sec2 mt-4 mb-2 d-flex justify-content-around">
                            <h2 class="travel_hotel_head1">Hotel Baja</h2>
                            <div class="travel_hotel_card_head_right"><img class="svg_star"
                                    src="../EXTRAS/start/25533.jpg" alt="star" />
                                <h2 class="travel_hotel_head2">5.0</h2>
                            </div>
                        </div>
                        <div class="travel_hoelgallery_card3_sec3">
                            <div class="row">
                                <div class="col-6 d-flex">
                                    <div class="travel_hotel_iouter mx-3"><i class="fa-solid fa-location-dot"></i></div>
                                    <p class="travel_hotel_sec3p">Palo Alto, CA</p>
                                </div>
                                <div class="col-6 d-flex">
                                    <div class="travel_hotel_iouter mx-3"><i class="fa-solid fa-dollar-sign"></i></div>
                                    <p class="travel_hotel_sec3p">USD 19/Day</p>
                                </div>
                            </div>
                        </div>
                        <div class="travel_hoelgallery_card1_sec4">
                            <p class="mb-3 travel_hotel_sec4p pt-0 pb-0">Lorem ipsum dolor sit amet, consectur dolori
                                adipiscing elit, sed do eiusmod tempor nova incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                        <div class="travel_hoelgallery_card1_sec5">
                            <div class="row">
                                <div class="btn">BOOK NOW</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card travel_hoelgallery_card">
                        <div class="travel_hoelgallery_card1_sec1"><img class="travel_hotelgallery_img_objfit"
                                src="/image/hotel_homes.jpg" alt="homes" /></div>
                        <div class="travel_hoelgallery_card1_sec2 mt-4 mb-2 d-flex justify-content-around">
                            <h2 class="travel_hotel_head1">Hudak Homes</h2>
                            <div class="travel_hotel_card_head_right"><img class="svg_star"
                                    src="../EXTRAS/start/25533.jpg" alt="star" />
                                <h2 class="travel_hotel_head2">4.5</h2>
                            </div>
                        </div>
                        <div class="travel_hoelgallery_card4_sec3">
                            <div class="row">
                                <div class="col-6 d-flex">
                                    <div class="travel_hotel_iouter mx-3"><i class="fa-solid fa-location-dot"></i></div>
                                    <p class="travel_hotel_sec3p">Arizona, RAK</p>
                                </div>
                                <div class="col-6 d-flex">
                                    <div class="travel_hotel_iouter mx-3"><i class="fa-solid fa-dollar-sign"></i></div>
                                    <p class="travel_hotel_sec3p">USD 99/Day</p>
                                </div>
                            </div>
                        </div>
                        <div class="travel_hoelgallery_card1_sec4">
                            <p class="mb-3 travel_hotel_sec4p pt-0 pb-0">Lorem ipsum dolor sit amet, consectur dolori
                                adipiscing elit, sed do eiusmod tempor nova incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                        <div class="travel_hoelgallery_card1_sec5">
                            <div class="row">
                                <div class="btn">BOOK NOW</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section class="wow slideInRight container secspace travel_trendingtour d-flex">
        <div class="container col-5">
            <div class="sidecommonhead2">Trending Tours</div>
            <div class="travel_sidecommonp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam.</div>
            <div class="travel_tredingtour_anchor"><a class="tra_anchor_af" href="javascript:void(0)">
                    <p class="travel_tredingtour_anchorp">View All Tours<i
                            class="mx-2 fa-solid fa-arrow-right-long"></i></p>
                </a></div>
        </div>
        <div class="col-7 d-flex pe-5">
            <div class="col-6 me-2">
                <div class="card travel_trendingtourcard border-0 mx-3">
                    <div class="travel_trendingtourcard_sec1"><img src="/image/beach1.jpg" alt="beach1" /></div>
                    <div class="travel_trendingtourcard_sec2 d-flex mt-3 justify-content-between">
                        <p class="travel_tredingtour_anchorp">Beachfront</p>
                        <p class="travel_hotel_sec3p">$99<span class="travel_trendingtourcard_sec2span">per day</span>
                        </p>
                    </div>
                    <div class="travel_trendingtourcard_sec3">
                        <h5 class="travel_tradingtour_h5 mb-4">A Trip to the Bahamas and the Carribean Ocean</h5>
                    </div>
                    <div class="travel_trendingtourcard_sec4 d-flex mb-3 justify-content-evenly"><i
                            class="fa-solid fa-arrow-trend-up"></i>
                        <p class="travel_trendingtourcard_sec2span">Trending</p><i class="fa-regular fa-clock"></i>
                        <p class="travel_trendingtourcard_sec2span">7 DAYS TOUR</p><i
                            class="fa-solid fa-location-dot"></i>
                        <p class="travel_trendingtourcard_sec2span">AFRICA</p>
                    </div>
                    <div class="travel_hoelgallery_card1_sec5">
                        <div class="d-flex justify-content-center row">
                            <div class="btn">BOOK NOW</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 ms-2">
                <div class="card travel_trendingtourcard border-0 mx-3">
                    <div class="travel_trendingtourcard_sec1"><img src="/image/beach2jpg.jpg" alt="beach2" /></div>
                    <div class="travel_trendingtourcard_sec2 d-flex mt-3 justify-content-between">
                        <p class="travel_tredingtour_anchorp">Cruise</p>
                        <p class="travel_hotel_sec3p">$169<span class="travel_trendingtourcard_sec2span">per day</span>
                        </p>
                    </div>
                    <div class="travel_trendingtourcard_sec3">
                        <h5 class="travel_tradingtour_h5 mb-4">Cruise to the Mariana Trench and the Phillipines</h5>
                    </div>
                    <div class="travel_trendingtourcard_sec4 d-flex mb-3 justify-content-evenly"><i
                            class="fa-solid fa-arrow-trend-up"></i>
                        <p class="travel_trendingtourcard_sec2span">Trending</p><i class="fa-regular fa-clock"></i>
                        <p class="travel_trendingtourcard_sec2span">15 DAYS TOUR</p><i
                            class="fa-solid fa-location-dot"></i>
                        <p class="travel_trendingtourcard_sec2span">AUSTRALIA</p>
                    </div>
                    <div class="travel_hoelgallery_card1_sec5">
                        <div class="d-flex justify-content-center row">
                            <div class="btn">BOOK NOW</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wow slideInLeft container secspace travel_service">
        <div class="row">
            <div class="col-6 travel_service_img"><img src="/image/hotel_service.jpg" alt="bluehotel" /></div>
            <div class="col-6 travel_service_data">
                <div class="sidecommonhead2">We have the best service.</div>
                <div class="sidecommonp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div class="row">
                    <div class="col-6">
                        <ul class="travel_service_ul">
                            <li>
                                <p class="travel_service_ul_p1">192</p>
                                <p class="travel_service_ul_p2">Countries</p>
                            </li>
                            <li>
                                <p class="travel_service_ul_p1">2093</p>
                                <p class="travel_service_ul_p2">Rooms</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="travel_service_ul">
                            <li>
                                <p class="travel_service_ul_p1">192</p>
                                <p class="travel_service_ul_p2">Countries</p>
                            </li>
                            <li>
                                <p class="travel_service_ul_p1">2093</p>
                                <p class="travel_service_ul_p2">Rooms</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wow slideInRight container secspace travel_posts">
        <div class="row d-flex justify-content-between">
            <div class="col-6 sidecommonhead2">Popular Posts</div>
            <div class="col-6 sidecommonhead2">Recent Posts</div>
        </div>
        <div class="row">
            <div class="col-7 d-flex">
                <div class="col-6 card border-0">
                    <div class="travel_posts_sec1"><img src="/image/post1.jpg" alt="post1" /></div>
                    <div class="travel_posts_sec2">
                        <h5 class="travel_post_h my-3">Tips on how to travel safely in foreign countries</h5>
                    </div>
                    <div class="travel_posts_sec3">
                        <p class="travel_hotel_sec4p p-0">Lorem ipsum dolor sit amet, consecteturious adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua now ele.</p>
                    </div>
                    <div class="travel_posts_sec4">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <div class="travel_post_imgout"><img src="/image/person11494790108377-be9c29b29330.avif"
                                        alt="person1" /></div>
                            </div>
                            <div class="col-9 p-0">
                                <p class="travel_post_p1 m-0 p-0 mt-3">Charlotte Delos</p>
                                <p class="travel_post_p2">Travel advocate</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 card border-0">
                    <div class="travel_posts_sec1"><img src="/image/post2.jpg" alt="post2" /></div>
                    <div class="travel_posts_sec2">
                        <h5 class="travel_post_h my-3">Enjoying the beach life while on a vacation</h5>
                    </div>
                    <div class="travel_posts_sec3">
                        <p class="travel_hotel_sec4p p-0">Lorem ipsum dolor sit amet, consecteturious adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua now ele.</p>
                    </div>
                    <div class="travel_posts_sec4">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <div class="travel_post_imgout"><img src="/image/person21531427186611-ecfd6d936c79.avif"
                                        alt="person2" /></div>
                            </div>
                            <div class="col-9 p-0">
                                <p class="travel_post_p1 m-0 p-0 mt-3">Adam Cuppy</p>
                                <p class="travel_post_p2">Vlogger</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <ul class="travel_posts_recent_ul m-0 p-0">
                    <li class="travel_posts_recent_li my-4">
                        <div class="travel_posts_recent_limain">
                            <div class="row">
                                <div class="col-7 travel_posts_recent_lidata">
                                    <h5 class="travel_tradingtour_h5 h5_sub1">Getting the most out of your vacation</h5>
                                    <h6 class="travel_tradingtour_h6">Aaron Patterson</h6>
                                </div>
                                <div class="col-2 travel_posts_recent_liimg ms-3"><img src="/image/recentpost1.jpg"
                                        alt="post1" /></div>
                            </div>
                        </div>
                    </li>
                    <li class="travel_posts_recent_li my-4">
                        <div class="travel_posts_recent_limain">
                            <div class="row">
                                <div class="col-7 travel_posts_recent_lidata">
                                    <h5 class="travel_tradingtour_h5 h5_sub1">Choosing the perfect Safaris in Africa
                                    </h5>
                                    <h6 class="travel_tradingtour_h6">Sam Phipphen</h6>
                                </div>
                                <div class="col-2 travel_posts_recent_liimg ms-3"><img src="/image/recentpost2.jpeg"
                                        alt="post1" /></div>
                            </div>
                        </div>
                    </li>
                    <li class="travel_posts_recent_li my-4">
                        <div class="travel_posts_recent_limain">
                            <div class="row">
                                <div class="col-7 travel_posts_recent_lidata">
                                    <h5 class="travel_tradingtour_h5 h5_sub1">Hiking during the monsoon in Asia</h5>
                                    <h6 class="travel_tradingtour_h6">Tony Hawk</h6>
                                </div>
                                <div class="col-2 travel_posts_recent_liimg ms-3"><img src="/image/recentpost3.jpg"
                                        alt="post1" /></div>
                            </div>
                        </div>
                    </li>
                    <li class="travel_posts_recent_li my-4">
                        <div class="travel_posts_recent_limain">
                            <div class="row">
                                <div class="col-7 travel_posts_recent_lidata">
                                    <h5 class="travel_tradingtour_h5 h5_sub1">Must carry items while travelling to
                                        Thailand</h5>
                                    <h6 class="travel_tradingtour_h6">Himali Turn</h6>
                                </div>
                                <div class="col-2 travel_posts_recent_liimg ms-3"><img src="/image/recentpost4.jpg"
                                        alt="post1" /></div>
                            </div>
                        </div>
                    </li>
                    <li class="travel_posts_recent_li my-4">
                        <div class="travel_posts_recent_limain">
                            <div class="row">
                                <div class="col-7 travel_posts_recent_lidata">
                                    <h5 class="travel_tradingtour_h5 h5_sub1">An extremely funny trip to the Swiss Alps
                                    </h5>
                                    <h6 class="travel_tradingtour_h6">Naomi Watts</h6>
                                </div>
                                <div class="col-2 travel_posts_recent_liimg ms-3"><img src="/image/recentpost5.jpg"
                                        alt="post1" /></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="wow slideInLeft container secspace travel_testimonials">
        <div class="sidecommonhead2">Testimonials</div>
        <div class="sidecommonp">Here are what some of our amazing customers are saying about our hotels & tours. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</div>
    </section>
    <section class="wow slideInRight container travel_questions m-5">
        <div class="row">
            <div class="col-5 travel_questions_img"><img src="/image/travel_questionhotel.png" alt="hotel" /></div>
            <div class="col-7">
                <div class="sidecommonhead2">Questions</div>
                <div class="sidecommonp">Here are some frequently asked questions about our hotels from our loving
                    customers. Should you have any other questions, feel free to reach out via the contact form below.
                </div>
                <div class="accordion agency_accordion m-0 mt-5" id="agency_accordion">
                    <div class="accordion-item agency_accordionitem ">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button  agency_accordion_button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                                <p class="agency_accordion_p">Is lunch provided free of cost ?</p>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#agency_accordion">
                            <div class="accordion-body">
                                <p class="agency_accordion_p2">Yes, it is, if you have a membership with us. Otherwise
                                    it is charged as per the menu. Some limits do apply as to how much items can be
                                    included in your lunch. This limit is enough for any one person and merely exists to
                                    discourage abusal of the system.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item agency_accordionitem">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button agency_accordion_button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                <p class="agency_accordion_p">Do you have 2 Bedroom suites ?</p>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#agency_accordion">
                            <div class="accordion-body">
                                <p class="agency_accordion_p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item agency_accordionitem">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button agency_accordion_button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                <p class="agency_accordion_p">Are Wi-Fi costs included in the price ?</p>
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#agency_accordion">
                            <div class="accordion-body">
                                <p class="agency_accordion_p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item agency_accordionitem">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button agency_accordion_button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true"
                                aria-controls="collapseOne">
                                <p class="agency_accordion_p">Where can I reach you for support ?</p>
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#agency_accordion">
                            <div class="accordion-body">
                                <p class="agency_accordion_p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wow slideInLeft travel_newsletter">
        <div class="container">
            <div class="travel_newslettergray">
                <div class="travel_news_main d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-envelope-open-text mx-4"></i>
                    <div class="sidecommonhead2"><span class="travel_news_span ">Newsletter</span>
                        <h6 class="travel_tradingtour_h6 travel_news_span2">Subscribe now to get our latest blog posts.
                        </h6>
                    </div>
                    <div class="travel_news_main2 mx-5">
                        <form action=""><input class="border-0" type="email" placeholder="Your Email Address" /><button
                                class="btn travel_news_btn">Subscribe Now</button></form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="wow slideInRight agency_footer">

        <div class="agency_footer_main p-5">
            <div class="agency_footer_line1 d-flex justify-content-center mt-5">
                <div class="footer_img_out me-2 d-flex justify-content-center"><img src="/image/agency_footer_img.svg"
                        alt="footer_logo_image" /></div>
                <p class="footer_img_p agency_footer_imgp">Treact</p>
            </div>

            <div class="d-flex justify-content-center agency_footer_uldiv mt-3">
                <ul class="agency_footer_ul">
                    <li class="agency_footer_li me-4">Home</li>
                    <li class="agency_footer_li me-4">About</li>
                    <li class="agency_footer_li me-4"><a href="/contact">Contact Us</a></li>
                    <li class="agency_footer_li me-4">Blog</li>
                    <li class="agency_footer_li me-4">Reviews</li>
                </ul>
            </div>
            <div class="d-flex justify-content-center col-12 agency_footer_icon mt-3">
                <div class="agency_footer_i_out mx-4"><i class="fa-brands fa-facebook-f"></i></div>
                <div class="agency_footer_i_out mx-4"><i class="fa-brands fa-twitter"></i></div>
                <div class="agency_footer_i_out mx-4"><i class="fa-brands fa-youtube"></i></div>
            </div>
        </div>

        <div class="agency_footer_copyright d-flex justify-content-center mt-1">
            <p> &copy; Copyright 2020, Treact Inc. All Rights Reserved.</p>
        </div>
        </div>

    </footer>
    <script src="/BOOTSTRAP/bootstrap.bundle.min.js"></script>
    <script src="/WOWJS/wow.min.js"></script>
    <script src="/js/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 3,
            spaceBetween: 30,
            slidesPerGroup: 1,
            loop: true,
            loopFillGroupWithBlank: true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
    <script>
        new WOW().init();
    </script>
</body>

</html>