<table border="1">
    <tr>
        <td>Name :</td>
        <td>Email</td>
        <td>Message</td>
    </tr>
    <% for (var ct of ctData){ %>
        <tr>
            <td>
                <%= ct.name %>
            </td>
            <td>
                <%= ct.email %>
            </td>
            <td>
                <%= ct.message %>
            </td>
        </tr>
        <% } %>
</table>